div{
    display: flex;
    margin: 2px;
    
}

.caja{
    width: 300px;
    background-color: red;
    border-radius: 50% solid blue;
    text-align: center;
    color: rgb(255,255,255);
    flex-grow: 1;
}